/*绗竴涓〉闈�*/
.form{
	margin-top: 10%;
	margin-left: 35%;
	margin-right: 35%;
	padding: 10px;
	border: 2px solid;
	border-radius: 5px;
	width: auto;
}
@media(max-width: 1000px){
	.form{
		margin-left: 10%;
		margin-right: 10%
	}
}
.button{
	display: inline-block;
  padding: 6px 110px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(1,1,1,.3);
  border: 1px solid transparent;
  border-radius: 4px;
}
.input{
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid ;
  border-radius: 4px;
}
/*绗簩涓〉闈�*/
.require{
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 10px;
	border: 2px solid;
	border-radius: 5px;
	width: auto;
}

/*绗笁涓〉闈�*/
.center{
	text-align: center;
}
.adire-page{
	border: 1px solid;
	margin-right: 30%;
	margin-left: 30%;
	border-radius: 3px;
}
@media(max-width: 1000px){
	.adire-page{
		margin-left: 10%;
		margin-right: 10%
	}
}